.hero{
    height: 24vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}