@charset "UTF-8";
/* CSS Document */

.bott_p_pr_header h1 {
	font: bold 330%/100% Helvetica, Arial, sans-serif;
	position: relative;
	color: #000;
	font-size:17px;
	line-height:21px;
	padding:0px;
	margin:0px;
	padding-top:25px;
	float:left;
	padding-right:6px;
	text-transform:uppercase;
	float:left;
	width:796px;
}
.bott_p_main_pr h1 {
	float:none;
	width:auto;
}
.bott_p_pr_header h1 span {
	background: url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/gradient-white.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
	padding:0px;
	margin:0px;
	color: #000;
}
.bott_p_main_bg {
	margin-left:6px;
	margin-right:6px;
	background-color:#fafafa;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/bott_page_bg.png);
	background-repeat:no-repeat;
	background-position:left top;
	min-height:370px;
}
.bott_p_main_pr {
	min-height:500px;
	padding-left:60px;
	padding-right:60px;
	padding-top:28px;
	padding-bottom:55px;
}
.bott_t_main_pr {
	min-height:500px;
	padding-left:60px;
	padding-right:60px;
	padding-top:28px;
	padding-bottom:30px;
}
.bott_p_pr_header {
}
.bott_p_pr_txt {
	color:#666666;
	line-height:18px;
	font-size:13px;
	padding-top:19px;
}
.bott_number_1 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left top;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_2 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -40px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_3 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -80px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_4 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -120px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_5 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -160px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_6 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -200px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_7 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -240px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_8 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -280px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_9 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -320px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_10 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -360px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_11 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -400px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_12 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -440px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_13 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -480px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_number_14 {
	width:32px;
	height:31px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/terms_numbers.png);
	background-position:left -520px;
	background-repeat:no-repeat;
	float:left;
	margin-top:18px;
	margin-right:7px;
}
.bott_sub_theme {
	padding-left:40px;
	color:#666666;
	line-height:18px;
	font-size:13px;
}
.bott_t_main_pr h2 {
	font-size:15px;
	font-weight:bold;
	font-family:Helvetica, Arial, sans-serif;
	color:#343434;
	margin:0px;
	padding:0px 0px 19px 0px;
	display:block;
}
.bottom_text {
	text-align:center;
	padding-top:36px;
	color:#666666;
	line-height:18px;
	font-size:13px;
}
.report_txt {
	font-size:13px;
	color:#333333;
	padding-top:19px;
	padding-bottom:2px;
	width:359px;
	float:left;
	line-height:18px;
	margin-left:3px;
}
.report_left_bl {
	margin-left:59px;
	width:401px;
	margin-right:37px;
	float: left;
}
.report_right_bl {
	width:420px;
	float:left;
	padding-top:19px;
}
.report_code_bl {
	width:135px;
	height:40px;
	float:left;
	margin-top:7px;
}
.report_code_inp {
	float:left;
	width:120px;
}
.rep_input {
	border:0px;
	width:100%;
	height:17px;
	margin-top:12px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px;
	line-height:16px;
	padding:0px;
	background-color:#FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	outline:none;
}
.supp_input_area {
	border:0px;
	width:100%;
	height:276px;
	margin-top:12px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px;
	line-height:16px;
	padding:0px;
	background-color:#FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	outline:none;
	resize:none;
}
.report_inp_txt {
	font-size:13px;
	font-weight:bold;
	font-family: Helvetica, Arial, sans-serif;
	line-height:18px;
	color:#333333
}
.report_inp_bg1 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-repeat:repeat-x;
	background-position:left -194px;
	height: 40px;
	margin-top:7px;
	margin-bottom:15px;
}
.forget_inp_bg1 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-repeat:repeat-x;
	background-position:left -194px;
	height: 40px;
	width:411px;
	float:left;
	margin-left:197px;
	margin-top:49px;
}
.report_inp_bg2 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-repeat: no-repeat;
	background-position:left -114px;
	height: 40px;
}
.report_inp_bg3 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-repeat: no-repeat;
	background-position:right -154px;
	height: 40px;
	padding-left:12px;
	padding-right:12px;
}
.report_textarea_bg1 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-repeat:repeat-x;
	background-position:left -634px;
	height: 200px;
	margin-top:7px;
	margin-bottom:15px;
}
.report_textarea_bg2 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-repeat: no-repeat;
	background-position:left -234px;
	height: 200px;
}
.report_textarea_bg3 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-repeat: no-repeat;
	background-position:right -434px;
	height: 200px;
	padding-left:12px;
	padding-right:12px;
}
.rep_input2 {
	border:0px;
	width:100%;
	height:175px;
	margin-top:12px;
	margin-bottom:0px;
	margin-right:0px;
	line-height:16px;
	padding:0px;
	background-color:#FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	outline:none;
	resize:none;
}
.forgot_txt_bl {
	height:127px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/free_div.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	background-color:#FFF;
}
.contact_main_page {
	padding-left:57px;
	padding-bottom:21px;
}
.contact_left_bl {
	width:439px;
	float:left
}
.contact_icon1 {
	width:40px;
	height:40px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/contact_icons.png);
	background-position:left top;
	background-repeat:no-repeat;
	float:left;
}
.contact_icon2 {
	width:40px;
	height:40px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/contact_icons.png);
	background-position:left -40px;
	background-repeat:no-repeat;
	float:left;
}
.contact_icon3 {
	width:40px;
	height:40px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/contact_icons.png);
	background-position:left -80px;
	background-repeat:no-repeat;
	float:left;
}
.contact_icon4 {
	width:40px;
	height:40px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/contact_icons.png);
	background-position:left -120px;
	background-repeat:no-repeat;
	float:left;
}
.contact_icon5 {
	width:40px;
	height:40px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/contact_icons.png);
	background-position:left -160px;
	background-repeat:no-repeat;
	float:left;
}
.contact_icon6 {
	width:40px;
	height:40px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/contact_icons.png);
	background-position:left -200px;
	background-repeat:no-repeat;
	float:left;
}
.contact_text {
	color:#666666;
	width:339px;
	font-size:13px;
	line-height:18px;
}
a.contact_lnk, a.contact_lnk:link, a.contact_lnk:visited, a.contact_lnk:active {
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	color:#ff7300;
	display:block;
	margin-top:9px;
	margin-bottom:52px;
	text-decoration:none
}
a.contact_lnk:hover {
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	color:#ff7300;
	display:block;
	margin-top:9px;
	margin-bottom:52px;
	text-decoration: underline
}
.download_large_main {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/pr_table_bg1.png);
	background-position:left top;
	background-repeat: repeat-x;
	height: 606px;
}
.download_bott_shadow {
	width:987px;
	height:3px;
	font-size:1px;
}
.download_bott_shadow_bg {
	height:12px;
	width:987px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/faq_bott_bg.png);
	background-image:left top;
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-7px;
	z-index:1000;
}
.download_l_table_pad {
	padding-left:68px;
}
.na_num1 {
	width:24px;
	height:24px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/pr_numbers.png);
	background-position:left top;
	background-repeat:no-repeat;
	float:left;
	margin-left:22px;
	margin-right:9px;
}
.na_num2 {
	width:24px;
	height:24px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/pr_numbers.png);
	background-position:left -29px;
	background-repeat:no-repeat;
	float:left;
	margin-left:22px;
	margin-right:9px;
}
.na_num3 {
	width:24px;
	height:24px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/pr_numbers.png);
	background-position:left -58px;
	background-repeat:no-repeat;
	float:left;
	margin-left:22px;
	margin-right:9px;
}
.na_num4 {
	width:24px;
	height:24px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/pr_numbers.png);
	background-position:left -87px;
	background-repeat:no-repeat;
	float:left;
	margin-left:22px;
	margin-right:9px;
}
.na_num5 {
	width:24px;
	height:24px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/pr_numbers.png);
	background-position:left -116px;
	background-repeat:no-repeat;
	float:left;
	margin-left:22px;
	margin-right:9px;
}
.na_top_div {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/free_div.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	min-height:216px;
}
.na_blank_icon {
	width:235px;
	height:215px;
	float:left;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/blank_list.png);
	background-position:56px 45px;
	background-repeat:no-repeat;
}
.access_blank_icon {
	width:200px;
	height:200px;
	float:left;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/blank_list.png);
	background-position:44px 45px;
	background-repeat:no-repeat;
}
.access_blank_icon2 {
	width:200px;
	height:200px;
	float:left;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/blank_list.png);
	background-position:31px 45px;
	background-repeat:no-repeat;
}
.na_right_bl {
	width:685px;
	float:left;
	padding-top:34px;
	padding-bottom:30px;
}
.access_right_bl {
	width:685px;
	float:left;
	padding-top:34px;
	padding-bottom:47px;
}
.access_right_bl2 {
	width:685px;
	float:left;
	padding-top:34px;
}
.na_text_block {
	padding-bottom:14px;
	width:685px;
}
.na_text {
	color:#999999;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding-top:2px;
	line-height:21px;
	width: 615px;
}
a.na_text_link, a.na_text_link:link, a.na_text_link:visited, a.na_text_link:active {
	color:#ff6400;
	font-size:14px;
	font-weight:bold;
	line-height:21px;
	text-decoration:none
}
a.na_text_link:hover {
	color:#ff6400;
	font-size:14px;
	font-weight:bold;
	line-height:21px;
	text-decoration:underline
}
.na_banners_bl {
	min-height:281px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/download_bot_bg.png);
	background-position:left bottom;
	background-repeat: repeat-x;
	color:#eeeeee;
}
a.na_banner, a.na_banner:link, a.na_banner:visited, a.na_banner:hover, a.na_banner:active {
	display:block;
	padding-left:19px;
	padding-top:19px;
	float:left
}
a.na_banner img, a.na_banner:link img, a.na_banner:visited img, a.na_banner:hover img, a.na_banner:active img {
	border:1px solid #8f8f8f;
}
.account_l_bl {
	width:420px;
	float:left;
	margin-right:15px;
	margin-left:57px;
	padding-bottom:43px;
}
.account_div {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/free_div.gif);
	font-size:1px;
	height:1px;
	background-position:left top;
	background-repeat: repeat-x;
	clear:both;
}
.account_title {
	min-width:182px;
	margin-right:18px;
	float:left;
	font-size:15px;
	font-weight:bold;
	line-height:40px;
	color:#383838;
}
.account_txt {
	float:left;
	line-height:40px;
	font-size:15px;
	color:#666666;
}
.account_r_bl {
	width:420px;
	float:left;
}
.account_r_bl .radioOn, .account_r_bl .radioOff {
	margin-right:8px;
	margin-top:11px;
}
input[type="radio"], input[type="radio"].radioOn, input[type="radio"].radioOff {
	margin:0;
	padding:0;
	opacity:0;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
}
.account_r_bl .account_txt {
	margin-right:17px;
}
.account_r_bl .checkboxOff, .account_r_bl .checkboxOn {
	margin-right:8px;
	margin-top:8px;
}
.account_r_bl input[type="checkbox"] {
	margin:0;
	padding:0;
	opacity:0;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
}
.account_table {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_dark_bg.png);
	background-position:left top;
	background-repeat:repeat-x;
	padding-left:43px;
	padding-bottom:41px;
}
.acc_table_mid_bg {
	width:888px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table.png);
	background-position:-1776px top;
	background-repeat:repeat-y;
}
.acc_table_bot_bg {
	height:32px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table.png);
	background-position:left top;
	background-repeat: no-repeat;
	width:888px;
}
.acc_table_top {
	height:22px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table.png);
	background-position:-888px -10px;
	background-repeat:repeat-y;
	width:888px;
}
.acc_table_pad {
	min-height:34px;
	padding-left:14px;
	padding-right:14px;
	cursor:pointer;
}
.acc_pass_icon {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table_icon.png);
	background-position:20px -10px;
	background-repeat:no-repeat;
	width:64px;
	height:34px;
	float:left;
}
.acc_email_icon {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table_icon.png);
	background-position:20px -80px;
	background-repeat:no-repeat;
	width:64px;
	height:34px;
	float:left;
}
.acc_profile_icon {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table_icon.png);
	background-position:20px -140px;
	background-repeat:no-repeat;
	width:64px;
	height:34px;
	float:left;
}
.acc_table_txt {
	color:#000;
	font-size:17px;
	font-weight:bold;
	float:left;
	line-height:21px;
	text-transform:uppercase;
	padding-left:15px;
	padding-top:8px;
}
.acc_icons_plus {
	background-position:-14px -199px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table_icon.png);
	background-repeat:no-repeat;
	float:right;
	width:14px;
	height:14px;
	margin-top:11px;
	margin-right:20px;
}
.acc_t_opened .acc_icons_plus {
	background-position:-28px -199px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table_icon.png);
	background-repeat:no-repeat;
	float:right;
	width:14px;
	height:14px;
	margin-top:11px;
	margin-right:20px;
}
.acc_table_div {
	height:1px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/free_div.gif);
	background-position:center;
	background-repeat:repeat-x;
	margin-left:14px;
	margin-right:14px;
	margin-top:14px;
	margin-bottom:13px;
}
.acc_inp_bl {
	width:580px;
	height:54px;
}
.supp_inp_bl {
	width:400px;
	height:40px;
}
.supp_inp_bl2 {
	width:400px;
	height:300px;
}
.ty_inp_bl {
	width:420px;
	height:54px;
}
.acc_inp_bg1 {
	width:11px;
	height:40px;
	float:left;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/redeem_inp.png);
	background-position:left top;
	background-repeat:no-repeat
}
.acc_inp_bg2 {
	width:11px;
	height:40px;
	float:right;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/redeem_inp.png);
	background-position:left -40px;
	background-repeat:no-repeat
}
.acc_inp_bg3 {
	height:40px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/redeem_inp.png);
	background-position:left -80px;
	background-repeat: repeat-x;
	margin-left:11px;
	margin-right:11px;
	padding-left:4px;
	padding-right:4px;
}
.supp_inp_bg1 {
	height:40px;
	background-image: url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/support_elements.png);
	background-position:left -440px;
	background-repeat:no-repeat;
	padding-left:12px;
	padding-right:12px;
}
.supp_inp_bg2 {
	height:300px;
	background-image: url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/support_elements.png);
	background-position:left -140px;
	background-repeat:no-repeat;
	padding-left:12px;
	padding-right:12px;
}
.acc_input {
	border:0px;
	width:100%;
	height:21px;
	margin-top:10px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px;
	line-height:19px;
	padding:0px;
	background-color:#FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	outline:none;
}
.acc_inp_txt {
	font-size:13px;
	font-weight:bold;
	line-height:17px;
	padding-bottom:9px;
}
.acc_inp_main_pad {
	display:none;
}
.acc_t_opened .acc_inp_main_pad {
	padding-left:154px;
	padding-top:33px;
	padding-bottom:40px;
	display:block;
}
.account_table .select_box {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-position:left -1423px;
	background-repeat: no-repeat;
	position:relative;
	height:42px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:15px;
}
.account_table .select_box option {
}
.account_table .select_box span {
	position:absolute;
	left:16px;
	top:11px;
	color:#363636;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	line-height: 19px;
	cursor:pointer;
}
.account_table .select_box div {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-position:right -1465px;
	background-repeat: no-repeat;
	height:42px;
	margin-right:-1px;
	cursor:pointer;
}
.account_table .select_box select {
	border:0;
	opacity:0;
	width:100%;
	height:42px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	cursor:pointer;
}
.acc_pulldown {
	height:42px;
	width:579px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-position:left -1507px;
	background-repeat:repeat-x;
	margin-bottom:13px;
}
.supp_pulldown {
	height:41px;
	width:400px;
	background-image: url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/support_elements.png);
	background-position:left -480px;
	background-repeat: no-repeat;
}
.supp_pulldown .select_box {
	position:relative;
	height:41px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:15px;
}
.supp_pulldown .select_box option {
}
.supp_pulldown .select_box span {
	position:absolute;
	left:13px;
	top:11px;
	color:#363636;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	line-height: 19px;
	cursor:pointer;
}
.supp_pulldown .select_box div {
	height:41px;
	margin-right:-1px;
	cursor:pointer;
}
.supp_pulldown .select_box select {
	border:0;
	opacity:0;
	width:100%;
	height:41px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	cursor:pointer;
}
.ty_pulldown {
	height:42px;
	width:420px;
	margin-bottom:13px;
}
.null_pad {
	margin:0px;
	padding:0px;
}
.table_div {
	text-align:left;
	vertical-align:middle;
}
.table_div.left, .table_div.mid {
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	height:60px;
}
.table_div.right {
	border-bottom: 1px solid #ececec;
	height:60px;
	padding-right: 1px;
}
.table_div span {
	padding-left:17px;
	padding-right:17px;
	font-size:13px;
	line-height:17px;
}
.gray .table_div {
	background-color:#fbfbfb;
}
.white .table_div {
	background-color:#FFF;
}
.table_div {
	font-size:13px;
	color:#444444;
	line-height:17px;
}
.header .table_div.left, .header .table_div.mid {
	border-right: 1px solid #d6d6d6;
	height:41px;
	color:#3f3f3f;
	text-transform:uppercase;
	font-weight:bold;
	border-bottom:0px;
	line-height:17px;
	font-size:13px;
}
.header .table_div.right {
	height:41px;
	border-bottom:0px;
	color:#3f3f3f;
	text-transform:uppercase;
	font-weight:bold;
	line-height:18px;
	font-size:13px;
}
.status_y span {
	color:#7cba17;
	text-transform:uppercase;
	font-weight:bold;
	line-height:17px;
	font-size:13px;
	padding-right:42px;
}
.status_n span {
	color:#d8171e;
	text-transform:uppercase;
	font-weight:bold;
	line-height:17px;
	font-size:13px;
	padding-right:42px;
}
td.status_y {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_y.png);
	background-position: right center;
	background-repeat:no-repeat;
}
td.status_n {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_n.png);
	background-position: right center;
	background-repeat:no-repeat;
}
.td1 {
	width:119px;
}
.td5 {
	width:119px;
}
.acc_payment_table {
	padding-left:57px;
	padding-bottom:49px;
}
.acc_payment_td_bg1 {
	background-image: url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_bott_table.png);
	width:860px;
	background-position:-860px top;
	background-repeat:repeat-y;
}
.acc_payment_td_bg2 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_table_icon.png);
	background-position:left -220px;
	background-repeat:repeat-x;
}
.acc_payment_td_bg3 {
	background-image: url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_bott_table1.png);
	background-position:left top;
	background-repeat: no-repeat;
}
.acc_payment_td_bg4 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_bott_table2.png);
	background-position:right top;
	background-repeat: no-repeat;
	min-height:100px;
	padding-left:1px;
	padding-right:1px;
}
.acc_payment_bott_bl {
	height:1px;
	font-size:1px;
}
.acc_payment_td_bl5 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/acc_bott_table.png);
	background-position:left top;
	background-repeat:no-repeat;
	position:absolute;
	height:14px;
	width:860px;
	margin-top:-14px;
}
a.acc_loading {
	width:20px;
	height:20px;
	display:block;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/loading.gif);
	background-repeat:no-repeat;
	margin-left:458px;
	margin-top:20px;
	margin-bottom:9px;
}
a.ddl_loading {
	width:20px;
	height:20px;
	display:block;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/loading.gif);
	background-repeat:no-repeat;
	margin-left:258px;
	margin-top:10px;
	margin-bottom:0px;
}
.ty_pulldown .select_box {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_pull_bg2.png);
	background-position:left top;
	background-repeat: no-repeat;
	position:relative;
	height:42px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:15px;
}
.ty_pulldown .select_box option {
}
.ty_pulldown .select_box span {
	position:absolute;
	left:16px;
	top:11px;
	color:#363636;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	line-height: 19px;
	cursor:pointer;
}
.ty_pulldown .select_box div {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_pull_bg2.png);
	background-position:right -41px;
	background-repeat: no-repeat;
	height:42px;
	margin-right:-1px;
	cursor:pointer;
}
.ty_pulldown .select_box select {
	border:0;
	opacity:0;
	width:100%;
	height:42px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	cursor:pointer;
}
.ty_description {
	padding-left:136px;
	padding-right:136px;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	line-height:20px;
	color:#333333;
	padding-top:11px;
	padding-bottom:54px;
}
.ty_main_pad {
	padding-left:57px;
}
.but_off_ty1 {
	width:430px;
	height:100px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/complete_top_bg.png);
	float:left;
	cursor:pointer;
}
.but_on_ty1 {
	width:430px;
	height:100px;
	background-position:left -100px;
	background-repeat:no-repeat;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/complete_top_bg.png);
	float:left;
	cursor:pointer;
}
.but_off_ty2 {
	width:430px;
	height:100px;
	background-position:-430px top;
	background-repeat:no-repeat;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/complete_top_bg.png);
	float:left;
	cursor:pointer;
}
.but_on_ty2 {
	width:430px;
	height:100px;
	background-position:-430px -100px;
	background-repeat:no-repeat;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/complete_top_bg.png);
	float:left;
	cursor:pointer;
}
.ty_create_info_pad {
	padding-left:80px;
	padding-top:40px;
}
.ty_create_info_pad .radioOn, .ty_create_info_pad .radioOff, {
 margin-top:1px;
}
.ty_create_txt {
	color:#000;
	font-size:17px;
	font-weight:bold;
	float:left;
	line-height:21px;
	text-transform:uppercase;
	padding-left:12px;
}
.ty_left_block {
	width:421px;
	float:left;
	min-height:20px;
}
.ty_right_block {
	width:421px;
	float:left;
	margin-left:19px;
	min-height:20px;
}
.ty_blocks_pad {
	padding-top:35px;
	padding-bottom:50px;
	display:none;
}
.ty_agree_block {
	padding-top:15px;
}
.ty_agree_txt {
	float:left;
	font-size:13px;
	font-weight:bold;
	padding-left:12px;
	line-height:18px;
	padding-top:4px;
}
.access_header {
	font-size:22px;
	line-height:30px;
	color:#9d9d9d;
	padding-top:10px;
	padding-bottom:28px;
}
.access_txt {
	font-size:15px;
	font-weight:bold;
	line-height:20px;
}
.access_orange, a.access_orange_lnk, a.access_orange_lnk:link, a.access_orange_lnk:visited, a.access_orange_lnk:active {
	font-size:15px;
	font-weight:bold;
	line-height:20px;
	color:#ff6400;
	text-decoration: none;
}
a.access_orange_lnk:hover {
	font-size:15px;
	font-weight:bold;
	line-height:20px;
	color:#ff6400;
	text-decoration: underline;
}
.reset_main_block {
	padding-left:196px;
	padding-top:37px;
}
.reset_pulldown {
	height:42px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-position:left -1507px;
	background-repeat:repeat-x;
	margin-bottom:13px;
}
.reset_pulldown .select_box {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-position:left -1423px;
	background-repeat: no-repeat;
	position:relative;
	height:42px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:15px;
}
.reset_pulldown .select_box .reset_bg2 {
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/fm_search.png);
	background-position:right -1549px;
	background-repeat: no-repeat;
	height:42px;
	padding-left:12px;
	padding-right:12px;
}
.reset_pulldown input {
	color:#505050;
	background-color:transparent;
}
.reset_inp_txt {
	float:right;
	color:#505050;
	font-size:13px;
	padding-top:11px;
	line-height:18px;
}
.supp_radio_bl {
	width:400px;
	height:140px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/support_elements.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.supp_radio_bl .radioOn {
	width:18px;
	height:18px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/support_elements.png);
	background-position:-18px -521px;
	background-repeat:no-repeat;
	float:left;
	cursor:pointer;
	margin-left:20px;
	margin-right:8px;
	margin-top:8px;
	margin-bottom:0px;
}
.supp_radio_bl .radioOff {
	width:18px;
	height:18px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/support_elements.png);
	background-position:left -521px;
	background-repeat:no-repeat;
	float:left;
	cursor:pointer;
	margin-left:20px;
	margin-right:8px;
	margin-top:8px;
	margin-bottom:0px;
}
.supp_left_block {
	width:400px;
	float:left;
	margin-left:77px;
	margin-right:20px;
}
.supp_txt_bl {
	height:36px;
}
.supp_txt1 {
	padding-top: 12px;
	font-size:13px;
	font-weight:bold;
	line-height:18px;
}
.supp_radio_l_bl {
	min-width:183px;
	margin-top:13px;
	float:left;
}
.supp_radio_r_bl {
	margin-top:13px;
	min-width:183px;
	float:left;
}
.supp_radio_txt {
	float:left;
	font-size:13px;
	line-height:18px;
	padding-top:9px;
}
.supp_right_block {
	width:400px;
	float:left;
}
.about_txt_pad h1 {
	font: bold 330%/100% Arial Black, Helvetica, Arial, sans-serif;
	position: relative;
	color: #000;
	font-size:24px;
	font-style:italic;
	line-height:28px;
	padding:0px;
	margin:0px;
	padding-right:6px;
}
.about_txt_pad h1 span {
	background: url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/gradient-white.png) repeat-x;
	background-position:left -167px;
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
	padding:0px;
	margin:0px;
}
.about_txt_pad {
	margin-left:66px;
	padding-bottom:49px;
}
.about_left_txt_bl {
	float:left;
	width:333px;
}
.about_txt_small {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	line-height:18px;
	padding-top:17px;
	padding-left:2px;
}
.about_right_txt_bl {
	float:left;
	margin-left:106px;
	width:360px;
}
.about_table {
	margin-left:6px;
	margin-right:6px;
}
.about_top_bg {
	width:987px;
	height:302px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/about_bg.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}
.about_shadow_bl {
	height:4px;
	font-size:1px;
}
.about_shadow {
	width:987px;
	height:11px;
	position:absolute;
	z-index:1001;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/about_top.png);
	background-position:left top;
	background-repeat:no-repeat;
	font-size:1px;
}
.about_header_bg {
	margin-left:6px;
	margin-right:6px;
	width:975px;
	height:120px;
	background-image:url(/web/20111231211707im_/http://wwwstatic.megaupload.com/muimg/about_bg2.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}

/*
     FILE ARCHIVED ON 21:17:07 Dec 31, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:13:06 Mar 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.107
  exclusion.robots.policy: 0.096
  cdx.remote: 0.09
  esindex: 0.01
  LoadShardBlock: 149.934 (6)
  PetaboxLoader3.datanode: 169.382 (8)
  load_resource: 245.739 (2)
  PetaboxLoader3.resolve: 180.426 (2)
*/