@charset "UTF-8";
/* CSS Document */

.bott_p_privacy {
	background-image:url(muimg/en/bott_pages_header.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_account {
	background-image:url(muimg/en/account_text.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_thanks {
	background-image:url(muimg/en/complete_txt.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_terms {
	background-image:url(muimg/en/bott_pages_header.png);
	background-position:left -94px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_report {
	background-image:url(muimg/en/bott_pages_header.png);
	background-position:left -208px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_contact {
	background-image:url(muimg/en/bott_pages_header.png);
	background-position:left -322px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_forgot1 {
	background-image:url(muimg/en/forgot_header.png);
	background-position:left 37px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_forgot2 {
	background-image:url(muimg/en/forgot_header.png);
	background-position:left -77px;
	background-repeat:no-repeat;
	height:113px;
}
.report_description {
	height:173px;
	background-image:url(muimg/en/bott_pages_report.png);
	background-position:60px 17px;
	background-repeat:no-repeat;
}
a.report_but, a.report_but:link, a.report_but:visited, a.report_but:active {
	display:block;
	background-image:url(muimg/en/report_butt.png);
	background-position:left top;
	background-repeat:no-repeat;
	width: 202px;
	height:62px;
	float:right;
	margin-top:5px;
	margin-right:57px;
	margin-bottom:51px;
}
a.report_but:hover {
	display:block;
	background-image:url(muimg/en/report_butt.png);
	background-position:left -62px;
	background-repeat:no-repeat;
	width: 202px;
	height:62px;
	float:right;
	margin-top:5px;
	margin-right:57px;
	margin-bottom:51px;
}
.forgot_txt1 {
	background-image:url(muimg/en/forgot_text.png);
	background-position:left 25px;
	background-repeat:no-repeat;
	height:125px;
}
.forgot_txt2 {
	background-image:url(muimg/en/forgot_text.png);
	background-position:left -125px;
	background-repeat:no-repeat;
	height:125px;
}
a.forgot_send_email, a.forgot_send_email:link, a.forgot_send_email:visited, a.forgot_send_email:active {
	background-image:url(muimg/en/login_butts.png);
	background-position:left -372px;
	background-repeat:no-repeat;
	width:160px;
	height:42px;
	margin-top:49px;
	margin-left:10px;
	float:left;
}
a.forgot_send_email:hover {
	background-image:url(muimg/en/login_butts.png);
	background-position:left -414px;
	background-repeat:no-repeat;
	width:160px;
	height:42px;
	margin-top:49px;
	margin-left:10px;
	float:left;
}
.contact_description {
	height:154px;
	background-image:url(muimg/en/contact_description.png);
	background-position:left 17px;
	background-repeat:no-repeat;
}
.contact_header1 {
	width:370px;
	height:27px;
	background-image:url(muimg/en/contact_headers.png);
	background-position:-13px -3px;
	background-repeat:no-repeat;
	margin-top:5px;
	margin-bottom:16px;
	float:left
}
.contact_header2 {
	width:370px;
	height:27px;
	background-image:url(muimg/en/contact_headers.png);
	background-position:-13px -43px;
	background-repeat:no-repeat;
	margin-top:5px;
	margin-bottom:16px;
	float:left
}
.contact_header3 {
	width:370px;
	height:27px;
	background-image:url(muimg/en/contact_headers.png);
	background-position:-13px -83px;
	background-repeat:no-repeat;
	margin-top:5px;
	margin-bottom:16px;
	float:left
}
.contact_header4 {
	width:370px;
	height:27px;
	background-image:url(muimg/en/contact_headers.png);
	background-position:-451px -3px;
	background-repeat:no-repeat;
	margin-top:5px;
	margin-bottom:16px;
	float:left
}
.contact_header5 {
	width:370px;
	height:27px;
	background-image:url(muimg/en/contact_headers.png);
	background-position:-451px -43px;
	background-repeat:no-repeat;
	margin-top:5px;
	margin-bottom:16px;
	float:left
}
.contact_header6 {
	width:370px;
	height:27px;
	background-image:url(muimg/en/contact_headers.png);
	background-position:-451px -83px;
	background-repeat:no-repeat;
	margin-top:5px;
	margin-bottom:16px;
	float:left
}
.bott_p_download {
	background-image:url(muimg/en/download_large.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.download_l_descr {
	height:131px;
	background-image:url(muimg/en/download_large.png);
	background-position:center -154px;
	background-repeat:no-repeat;
}
.download_l_discover {
	background-image:url(muimg/en/download_large.png);
	background-position:68px -79px;
	background-repeat:no-repeat;
	height:100px;
}
a.download_l_buy, a.download_l_buy:link, a.download_l_buy:visited, a.download_l_buy:active {
	width:282px;
	height:42px;
	display:block;
	background-image:url(muimg/en/download_l_butt.png);
	background-position:left top;
	background-repeat:no-repeat;
	float:right;
	margin-top:30px;
	margin-right:77px;
}
a.download_l_buy:hover {
	width:282px;
	height:42px;
	display:block;
	background-image:url(muimg/en/download_l_butt.png);
	background-position:left -42px;
	background-repeat:no-repeat;
	float:right;
	margin-top:30px;
	margin-right:77px;
}
.bott_p_na_lnk {
	background-image: url(muimg/en/na_link_txt.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_access {
	background-image: url(muimg/en/access_header.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_access2 {
	background-image: url(muimg/en/access_header.png);
	background-position:left -120px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_reset {
	background-image: url(muimg/en/reset_txt.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.bott_p_support {
	background-image: url(muimg/en/support_txt.png);
	background-position:left 20px;
	background-repeat:no-repeat;
	height:113px;
}
.na_description {
	height:73px;
	background-image:url(muimg/en/na_link_txt.png);
	background-position:left -102px;
	background-repeat:no-repeat;
}
.account_desrc {
	background-image:url(muimg/en/account_text.png);
	background-position:left -93px;
	background-repeat:no-repeat;
	height:120px;
}
.account_status {
	height:40px;
	background-image:url(muimg/en/account_text.png);
	background-position:-9px -230px;
	background-repeat:no-repeat;
	width:300px;
	margin-left:41px;
	float:left;
	margin-top:32px;
	margin-bottom:17px;
}
.transfer_settings {
	height:40px;
	background-image:url(muimg/en/account_text.png);
	background-position:-9px -280px;
	background-repeat:no-repeat;
	width:300px;
	margin-left:135px;
	float:left;
	margin-top:32px;
	margin-bottom:17px;
}
.acc_edit_details {
	background-image:url(muimg/en/account_text.png);
	background-position:-551px -197px;
	background-repeat:no-repeat;
	height:70px;
}
a.acc_submit, a.acc_submit:link, a.acc_submit:visited, a.acc_submit:active {
	width:222px;
	height:42px;
	display:block;
	background-image:url(muimg/en/account_buttons.png);
	background-position:left -168px;
	background-repeat:no-repeat;
	margin-left:359px;
	margin-top:7px;
}
a.acc_submit:hover {
	width:222px;
	height:42px;
	display:block;
	background-image:url(muimg/en/account_buttons.png);
	background-position:left -210px;
	background-repeat:no-repeat;
	margin-left:359px;
	margin-top:7px;
}
a.acc_buy_premium, a.acc_buy_premium:link, a.acc_buy_premium:visited, a.acc_buy_premium:active {
	width:322px;
	height:42px;
	background-image:url(muimg/en/account_buttons.png);
	background-position:left top;
	background-repeat:no-repeat;
	position:absolute;
	margin-left:434px;
	z-index:1005;
}
a.acc_buy_premium:hover {
	width:322px;
	height:42px;
	background-image:url(muimg/en/account_buttons.png);
	background-position:left -42px;
	background-repeat:no-repeat;
	position:absolute;
	margin-left:434px;
	z-index:1005;
	display:block
}
a.acc_extend, a.acc_extend:link, a.acc_extend:visited, a.acc_extend:active {
	display:block;
	width:322px;
	height:42px;
	background-image:url(muimg/en/account_buttons.png);
	background-position:left -84px;
	background-repeat:no-repeat;
	position:absolute;
	margin-left:434px;
	z-index:1005;
}
a.acc_extend:hover {
	display:block;
	width:322px;
	height:42px;
	background-image:url(muimg/en/account_buttons.png);
	background-position:left -126px;
	background-repeat:no-repeat;
	position:absolute;
	margin-left:434px;
	z-index:1005;
}
.acc_payment {
	background-image:url(muimg/en/account_text.png);
	background-position:-14px -327px;
	background-repeat:no-repeat;
	height:50px;
	margin-left:45px;
	margin-top:44px;
}
.ty_create_account_txt {
	background-image:url(muimg/en/complete_txt.png);
	background-position:left -95px;
	background-repeat:no-repeat;
	height:46px;
	margin-top:48px;
}
a.ty_payment_complete, a.ty_payment_complete:link, a.ty_payment_complete:visited, a.ty_payment_complete:active {
	width:182px;
	height:62px;
	display:block;
	background-image:url(muimg/en/ty_complete.png);
	background-position:left top;
	background-repeat:no-repeat;
	float:right;
	margin-top:25px;
}
a.ty_payment_complete:hover {
	width:182px;
	height:62px;
	display:block;
	background-image:url(muimg/en/ty_complete.png);
	background-position:left -62px;
	background-repeat:no-repeat;
	float:right;
	margin-top:25px;
}
a.reverse_now_but, a.reverse_now_but:link, a.reverse_now_but:visited, a.reverse_now_but:active {
	width:180px;
	height:42px;
	background-image: url(muimg/en/access_but.png);
	background-position:left -208px;
	background-repeat:no-repeat;
	display:block;
	float:right;
	margin-top:5px;
	margin-bottom:30px;
	margin-right:-1px;
}
a.reverse_now_but:hover {
	width:180px;
	height:42px;
	background-image: url(muimg/en/access_but.png);
	background-position:left -250px;
	background-repeat:no-repeat;
	display:block;
	float:right;
	margin-top:5px;
	margin-bottom:30px;
	margin-right:-1px;
}
.supp_description {
	height:183px;
	background-image:url(muimg/en/support_txt.png);
	background-position:left -78px;
	background-repeat:no-repeat;
}
a.supp_but, a.supp_but:link, a.supp_but:visited, a.supp_but:active {
	width:182px;
	height:62px;
	background-image:url(muimg/en/support_but.png);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	float:right;
	margin-right:77px;
	margin-top:20px;
	margin-bottom:51px;
}
a.supp_but:hover {
	width:182px;
	height:62px;
	background-image:url(muimg/en/support_but.png);
	background-position:left -62px;
	background-repeat:no-repeat;
	display:block;
	float:right;
	margin-right:77px;
	margin-top:20px;
	margin-bottom:51px;
}
.about_td_features {
	background-image: url(muimg/en/about_txt.png);
	background-position:-754px -233px;
	background-repeat:no-repeat;
	height:30px;
}
.about_td_txt1 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -245px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt2 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -305px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt3 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -365px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt4 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -425px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt5 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -485px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt6 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -545px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt7 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -605px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt8 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -665px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt9 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -725px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt10 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -785px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt11 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -845px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt12 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -905px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt13 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -965px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt14 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1025px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt15 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1085px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt16 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1145px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt17 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1205px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt18 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1265px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt19 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1325px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt20 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1385px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt21 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1445px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt22 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1505px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt23 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1565px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt24 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1625px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt25 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1685px;
	background-repeat:no-repeat;
	height:50px;
}
.about_td_txt26 {
	background-image:url(muimg/en/about_txt.png);
	background-position:9px -1745px;
	background-repeat:no-repeat;
	height:50px;
}
.about_header_txt {
	background-image:url(muimg/en/about_txt.png);
	background-position:center 37px;
	background-repeat:no-repeat;
	height:120px;
}
.about_mid_txt {
	margin-left:6px;
	margin-right:6px;
	background-image:url(muimg/en/about_txt.png);
	background-position:center -100px;
	background-repeat:no-repeat;
	height:120px
}
