@charset "UTF-8";
/* CSS Document */

.download_top_text {
	height: 160px;
	background-image:url(muimg/en/download_txt.png);
	background-position:left 41px;
	background-repeat:no-repeat;
}
a.download_copy_but, a.download_copy_but:link, a.download_copy_but:visited, a.download_copy_but:active {
	height:28px;
	display:block;
	width:255px;
	background-image:url(muimg/en/download_txt.png);
	background-position:left -155px;
	background-repeat:no-repeat;
}
a.download_copy_but:hover {
	height:28px;
	display:block;
	width:255px;
	background-image:url(muimg/en/download_txt.png);
	background-position:-300px -155px;
	background-repeat:no-repeat;
}
a.download_view_but, a.download_view_but:link, a.download_view_but:visited, a.download_view_but:active {
	height:28px;
	display:block;
	width:255px;
	background-image:url(muimg/en/download_txt.png);
	background-position:left -192px;
	background-repeat:no-repeat;
}
a.download_view_but:hover {
	height:28px;
	display:block;
	width:255px;
	background-image:url(muimg/en/download_txt.png);
	background-position:-300px -192px;
	background-repeat:no-repeat;
}
a.download_import_but, a.download_import_but:link, a.download_import_but:visited, a.download_import_but:active {
	height:28px;
	display:block;
	width:255px;
	background-image:url(muimg/en/download_txt.png);
	background-position:left -229px;
	background-repeat:no-repeat;
}
a.download_import_but:hover {
	height:28px;
	display:block;
	width:255px;
	background-image:url(muimg/en/download_txt.png);
	background-position:-300px -229px;
	background-repeat:no-repeat;
}
a.download_import_but_done, a.download_import_but_done:link, a.download_import_but_done:visited, a.download_import_but_done:hover, a.download_import_but_done:active {
	height:28px;
	display:block;
	width:255px;
	background-image:url(muimg/en/download_txt.png);
	background-position:-560px -229px;
	background-repeat:no-repeat;
}
a.download_premium_but, a.download_premium_but:link, a.download_premium_but:visited, a.download_premium_but:active {
	display:block;
	width:282px;
	height:62px;
	float:left;
	background-image:url(muimg/en/download_buttons.png);
	background-position:left top;
	background-repeat:no-repeat;
}
a.download_premium_but:hover {
	display:block;
	width:282px;
	height:62px;
	float:left;
	background-image:url(muimg/en/download_buttons.png);
	background-position:left -62px;
	background-repeat:no-repeat;
}
a.download_regular_disabled, a.download_regular_disabled:link, a.download_regular_disabled:visited, a.download_regular_disabled:hover, a.download_regular_disabled:active {
	display:block;
	width:282px;
	height:62px;
	background-image:url(muimg/en/download_buttons.png);
	background-position:left -124px;
	background-repeat:no-repeat;
	float:right;
	cursor:default;
}
a.download_regular_usual, a.download_regular_usual:link, a.download_regular_usual:visited, a.download_regular_usual:active {
	display:block;
	width:282px;
	height:62px;
	background-image:url(muimg/en/download_buttons.png);
	background-position:left -186px;
	background-repeat:no-repeat;
	float:right;
}
a.download_regular_usual:hover {
	display:block;
	width:282px;
	height:62px;
	background-image:url(muimg/en/download_buttons.png);
	background-position:left -248px;
	background-repeat:no-repeat;
	float:right;
}
.download_clock {
	width:256px;
	height:78px;
	background-image:url(muimg/download_clock.png);
	background-position:right 2px;
	background-repeat:no-repeat
}
.download_timer_txt {
	background-image:url(muimg/en/download_txt.png);
	background-position:4px -280px;
	background-repeat:no-repeat;
	font-size:49px;
	line-height:53px;
	font-weight:bold;
	padding-top:20px;
}
.access_timer_txt {
	background-image:url(muimg/en/access_header.png);
	background-position:2px -82px;
	background-repeat:no-repeat;
	font-size:49px;
	line-height:53px;
	font-weight:bold;
	padding-top:20px;
}
a.download_pass_but, a.download_pass_but:link, a.download_pass_but:visited, a.download_pass_but:active {
	width:166px;
	height:42px;
	background-image:url(muimg/en/download_buttons.png);
	background-position:left -310px;
	background-repeat:no-repeat;
	display:block;
	float:right;
}
a.download_pass_but:hover {
	width:166px;
	height:42px;
	background-image:url(muimg/en/download_buttons.png);
	background-position:left -352px;
	background-repeat:no-repeat;
	display:block;
	float:right;
}
.delete_the_following {
	height:47px;
	background-image:url(muimg/en/delete_img.png);
	background-position:center top;
	background-repeat:no-repeat;
}
a.delete_downl_but, a.delete_downl_but:link, a.delete_downl_but:visited, a.delete_downl_but:active {
	width:222px;
	height:62px;
	background-image:url(muimg/en/delete_img.png);
	background-position:left -66px;
	background-repeat:no-repeat;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
a.delete_downl_but:hover {
	width:222px;
	height:62px;
	background-image:url(muimg/en/delete_img.png);
	background-position:left -128px;
	background-repeat:no-repeat;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
a.access_premium_login, a.access_premium_login:link, a.access_premium_login:visited, a.access_premium_login:active {
	float:left;
	width:282px;
	height:62px;
	background-image:url(muimg/en/access_but.png);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	margin-left:199px;
	margin-top:40px;
	margin-right:31px;
	margin-bottom:31px;
}
a.access_premium_login:hover {
	float:left;
	width:282px;
	height:62px;
	background-image:url(muimg/en/access_but.png);
	background-position:left -62px;
	background-repeat:no-repeat;
	display:block;
	margin-left:199px;
	margin-top:40px;
	margin-right:31px;
	margin-bottom:31px;
}
.access_na_text {
	background-image:url(muimg/en/access_header.png);
	background-position:center -213px;
	background-repeat:no-repeat;
	height:185px;
	width:590px
}
.access_choose_new_pass {
	background-position:left -90px;
	background-repeat:no-repeat;
	background-image:url(muimg/en/reset_txt.png);
	height:45px;
"
}
a.access_submit, a.access_submit:link, a.access_submit:visited, a.access_submit:active {
	width:160px;
	background-position:left -124px;
	background-repeat:no-repeat;
	height: 42px;
	display:block;
	background-image:url(muimg/en/access_but.png);
	float:right;
	margin-right:198px;
	margin-top:6px;
	margin-bottom:40px;
}
a.access_submit:hover {
	width:160px;
	background-position:left -166px;
	background-repeat:no-repeat;
	height: 42px;
	display:block;
	background-image:url(muimg/en/access_but.png);
	float:right;
	margin-right:198px;
	margin-top:6px;
	margin-bottom:40px;
}
