@charset "UTF-8";
/* CSS Document */

.fm_pulldowns_td {
	text-align:left;
	vertical-align:top;
	width:400px
}
.fm_show_pull_width {
	width:139px;
	float:right;
}
.fm_show_bg {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_pulldowns.png);
	background-position:left -38px;
	background-repeat:no-repeat;
	float:right;
	height:38px;
	width:62px;
	margin-left:10px;
}
.fm_display_width {
	width:58px;
	float:right;
}
.fm_display_bg {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_pulldowns.png);
	background-position:left top;
	background-repeat:no-repeat;
	float:right;
	height:38px;
	width:73px;
	margin-left:10px;
}
.fm_hotlink_quota_txt {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:14px 20px;
	background-repeat:no-repeat;
	height:80px;
}
a.fm_add_hotlink_lnk, a.fm_add_hotlink_lnk:link, a.fm_add_hotlink_lnk:visited, a.fm_add_hotlink_lnk:active {
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:left -64px;
	background-repeat:no-repeat;
	width:180px;
	height:18px;
	margin-left:13px;
	margin-top:4px;
}
a.fm_add_hotlink_lnk:hover {
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-180px -64px;
	background-repeat:no-repeat;
	width:180px;
	height:18px;
	margin-left:13px;
	margin-top:4px;
}
.fm_import_top_txt {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:25px -102px;
	background-repeat:no-repeat;
	height:59px;
}
.fm_destionat_width {
	width:333px;
	float:left
}
a.fm_import_but, a.fm_import_but:link, a.fm_import_but:visited, a.fm_import_but:active {
	margin-left:10px;
	width:168px;
	height:42px;
	float:left;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_import_butt.png);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
}
a.fm_import_but:hover {
	margin-left:10px;
	width:168px;
	height:42px;
	float:left;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_import_butt.png);
	background-position:-168px top;
	background-repeat:no-repeat;
	display:block;
}
a.fm_new_fold_but, a.fm_new_fold_but:link, a.fm_new_fold_but:visited, a.fm_new_fold_but:active {
	width:114px;
	height:41px;
	float:left;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_import_butt.png);
	background-position:left -42px;
	background-repeat:no-repeat;
	display:block;
}
a.fm_new_fold_but:hover {
	width:114px;
	height:41px;
	float:left;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_import_butt.png);
	background-position:-114px -42px;
	background-repeat:no-repeat;
	display:block;
}
.fm_menu_actions {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position: -3px -350px;
	background-repeat:no-repeat;
	height:36px;
}
a.fm_share_but, a.fm_share_but:link, a.fm_share_but:visited, a.fm_share_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -402px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_share_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -402px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_email_but, a.fm_email_but:link, a.fm_email_but:visited, a.fm_email_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -434px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_email_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -434px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_hotlnk_but, a.fm_hotlnk_but:link, a.fm_hotlnk_but:visited, a.fm_hotlnk_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -466px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_hotlnk_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -466px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_copy_but, a.fm_copy_but:link, a.fm_copy_but:visited, a.fm_copy_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -498px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_copy_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -498px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_export_but, a.fm_export_but:link, a.fm_export_but:visited, a.fm_export_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -530px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_export_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -530px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_import_sel_but, a.fm_import_sel_but:link, a.fm_import_sel_but:visited, a.fm_import_sel_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -562px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_import_sel_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -562px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_delete_but, a.fm_delete_but:link, a.fm_delete_but:visited, a.fm_delete_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -594px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_delete_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -594px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_create_but, a.fm_create_but:link, a.fm_create_but:visited, a.fm_create_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-7px -626px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_create_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:-237px -626px;
	background-repeat:no-repeat;
	width:192px;
	height:32px;
	display:block;
}
a.fm_type, a.fm_type:link, a.fm_type:visited, a.fm_type:hover, a.fm_type:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -15px;
	background-repeat:no-repeat;
	width:67px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_name, a.fm_name:link, a.fm_name:visited, a.fm_name:hover, a.fm_name:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -285px;
	background-repeat:no-repeat;
	width:71px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_date, a.fm_date:link, a.fm_date:visited, a.fm_date:hover, a.fm_date:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -555px;
	background-repeat:no-repeat;
	width:67px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_downloads, a.fm_downloads:link, a.fm_downloads:visited, a.fm_downloads {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -825px;
	background-repeat:no-repeat;
	width:110px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_size, a.fm_size:link, a.fm_size:visited, a.fm_size:hover, a.fm_size:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -1105px;
	background-repeat:no-repeat;
	width:63px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_f_link, a.fm_f_link:link, a.fm_f_link:visited, a.fm_f_link:hover, a.fm_f_link:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -1375px;
	background-repeat:no-repeat;
	width:90px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_type_pressed1, a.fm_type_pressed1:link, a.fm_type:visited, a.fm_type_pressed1:hover, a.fm_type_pressed1:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -105px;
	background-repeat:no-repeat;
	width:67px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_name_pressed1, a.fm_name_pressed1:link, a.fm_name_pressed1:visited, a.fm_name_pressed1:hover, a.fm_name_pressed1:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -375px;
	background-repeat:no-repeat;
	width:71px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_date_pressed1, a.fm_date_pressed1:link, a.fm_date_pressed1:visited, a.fm_date_pressed1:hover, a.fm_date_pressed1:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -645px;
	background-repeat:no-repeat;
	width:67px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_downloads_pressed1, a.fm_downloads_pressed1:link, a.fm_downloads_pressed1:visited, a.fm_downloads_pressed1:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -915px;
	background-repeat:no-repeat;
	width:110px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_size_pressed1, a.fm_size_pressed1:link, a.fm_size_pressed1:visited, a.fm_size_pressed1:hover, a.fm_size_pressed1:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -1195px;
	background-repeat:no-repeat;
	width:63px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_f_link_pressed1, a.fm_f_link_pressed1:link, a.fm_f_link_pressed1:visited, a.fm_f_link_pressed1:hover, a.fm_d_link_pressed1:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -1465px;
	background-repeat:no-repeat;
	width:90px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_type_pressed2, a.fm_type_pressed2:link, a.fm_type:visited, a.fm_type_pressed2:hover, a.fm_type_pressed2:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -195px;
	background-repeat:no-repeat;
	width:67px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_name_pressed2, a.fm_name_pressed2:link, a.fm_name_pressed2:visited, a.fm_name_pressed2:hover, a.fm_name_pressed2:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -465px;
	background-repeat:no-repeat;
	width:71px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_date_pressed2, a.fm_date_pressed2:link, a.fm_date_pressed2:visited, a.fm_date_pressed2:hover, a.fm_date_pressed2:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -735px;
	background-repeat:no-repeat;
	width:67px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_downloads_pressed2, a.fm_downloads_pressed2:link, a.fm_downloads_pressed2:visited, a.fm_downloads_pressed2:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -1005px;
	background-repeat:no-repeat;
	width:110px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_size_pressed2, a.fm_size_pressed2:link, a.fm_size_pressed2:visited, a.fm_size_pressed2:hover, a.fm_size_pressed2:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -1285px;
	background-repeat:no-repeat;
	width:63px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_f_link_pressed2, a.fm_f_link_pressed2:link, a.fm_f_link_pressed2:visited, a.fm_f_link_pressed2:hover, a.fm_f_link_pressed2:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_titles.png);
	background-position:-27px -1555px;
	background-repeat:no-repeat;
	width:90px;
	height:30px;
	margin-top:15px;
	display:block;
}
a.fm_cont_hotlink, a.fm_cont_hotlink:link, a.fm_cont_hotlink:visited, a.fm_cont_hotlink:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-495px -403px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_hotlink:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-675px -403px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_share, a.fm_cont_share:link, a.fm_cont_share:visited, a.fm_cont_share:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-495px -433px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_share:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-675px -433px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_open, a.fm_cont_open:link, a.fm_cont_open:visited, a.fm_cont_open:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-495px -463px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_open:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-675px -463px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_rename, a.fm_cont_rename:link, a.fm_cont_rename:visited, a.fm_cont_rename:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-495px -493px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_rename:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-675px -493px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_delete, a.fm_cont_delete:link, a.fm_cont_delete:visited, a.fm_cont_delete:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-495px -523px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
a.fm_cont_delete:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-repeat:no-repeat;
	background-position:-675px -523px;
	display:block;
	width:145px;
	height:30px;
	margin-left:13px;
}
.ff_top_text {
	height: 160px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/ff_txt.png);
	background-position:left 41px;
	background-repeat:no-repeat;
}
.hotlink_size1 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:23px 27px;
	background-repeat:no-repeat;
	width:318px;
	height:80px;
}
.hotlink_size2 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:23px -73px;
	background-repeat:no-repeat;
	width:318px;
	height:80px;
}
.hotlink_size3 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:23px -173px;
	background-repeat:no-repeat;
	width:318px;
	height:80px;
}
.hotlink_size4 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:23px -273px;
	background-repeat:no-repeat;
	width:318px;
	height:80px;
}
.low_res .hotlink_size1, .low_res .hotlink_size2, .low_res .hotlink_size3, .low_res .hotlink_size4 {
	width:186px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices_sm.png);
}
.low_res .hotlink_table {
	min-width:20px;
}
.hotlink_just_for {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_txt.png);
	background-position:left top;
	background-repeat:no-repeat;
	width:83px;
	height:16px;
	float:left;
	margin-top:50px;
}
.hotlink_price1 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-404px top;
	background-repeat:no-repeat;
	width:157px;
	height:61px;
	float:left;
	margin-top:27px;
}
.hotlink_price2 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-404px -100px;
	background-repeat:no-repeat;
	width:157px;
	height:61px;
	float:left;
	margin-top:27px;
}
.hotlink_price3 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-404px -200px;
	background-repeat:no-repeat;
	width:157px;
	height:61px;
	float:left;
	margin-top:27px;
}
.hotlink_price4 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-404px -300px;
	background-repeat:no-repeat;
	width:157px;
	height:61px;
	float:left;
	margin-top:27px;
}
.low_res .hotlink_price1, .low_res .hotlink_price2, .low_res .hotlink_price3, .low_res .hotlink_price4 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices_sm.png);
	width:127px;
}
.hotlink_price_per_gb1 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-561px top;
	background-repeat:no-repeat;
	width:82px;
	height:50px;
	float:left;
	margin-top:27px;
}
.hotlink_price_per_gb2 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-561px -100px;
	background-repeat:no-repeat;
	width:82px;
	height:50px;
	float:left;
	margin-top:27px;
}
.hotlink_price_per_gb3 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-561px -200px;
	background-repeat:no-repeat;
	width:73px;
	height:50px;
	float:left;
	margin-top:27px;
}
.hotlink_price_per_gb4 {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_prices.png);
	background-position:-561px -300px;
	background-repeat:no-repeat;
	width:82px;
	height:50px;
	float:left;
	margin-top:27px;
}
.hotlink_gb {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_hotlink_txt.png);
	background-position:left -16px;
	background-repeat:no-repeat;
	width:99px;
	height:35px;
	float:left;
	margin-top:42px;
}
a.hotlink_buynow, a.hotlink_buynow:link, a.hotlink_buynow:visited, a.hotlink_buynow:active {
	display:block;
	width:109px;
	height:42px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/hotlink_buynow.png);
	background-position:left top;
	background-repeat:no-repeat;
	margin-top:31px;
	float:right;
	margin-right:18px;
}
a.hotlink_buynow:hover {
	display:block;
	width:109px;
	height:42px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/hotlink_buynow.png);
	background-position:left -42px;
	background-repeat:no-repeat;
	margin-top:31px;
	float:right;
	margin-right:18px;
}
.fm_hotlink_header {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png);
	background-position:6px -679px;
	background-repeat:no-repeat;
	height:114px;
}
.fm_import_header {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/mucss/muimg/en/fm_text.png);
	background-position:25px -161px;
	background-repeat:no-repeat;
	height:78px;
}
.fm_popup_copy {
	height:63px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center 24px;
	background-repeat: no-repeat;
}
.fm_popup_newfold_txt {
	height:63px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -36px;
	background-repeat: no-repeat;
}
.fm_popup_delete_head_txt {
	height:63px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -96px;
	background-repeat: no-repeat;
}
.fm_popup_hotlink_head_txt {
	height:63px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -696px;
	background-repeat: no-repeat;
}
.fm_popup_edit_head_txt {
	height:63px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -156px;
	background-repeat: no-repeat;
}
a.fm_copy_newfolder, a.fm_copy_newfolder:link, a.fm_copy_newfolder:visited, a.fm_copy_newfolder:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	float: left;
	width:120px;
	height:41px;
}
a.fm_copy_newfolder:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -41px;
	background-repeat:no-repeat;
	display:block;
	float: left;
	width:120px;
	height:41px;
}
a.fm_copy_copy_butt, a.fm_copy_copy_butt:link, a.fm_copy_copy_butt:visited, a.fm_copy_copy_butt:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -82px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:180px;
	height:42px;
	margin-right:-1px;
}
a.fm_copy_copy_butt:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -124px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:180px;
	height:42px;
	margin-right:-1px;
}
a.fm_new_folder_butt, a.fm_new_folder_butt:link, a.fm_new_folder_butt:visited, a.fm_new_folder_butt:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -166px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:200px;
	height:42px;
	margin-right:-1px;
}
a.fm_new_folder_butt:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -208px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:200px;
	height:42px;
	margin-right:-1px;
}
a.fm_new_del_cancel, a.fm_new_del_cancel:link, a.fm_new_del_cancel:visited, a.fm_new_del_cancel:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -334px;
	background-repeat:no-repeat;
	display:block;
	float: left;
	width:120px;
	height:41px;
}
a.fm_new_del_cancel:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -375px;
	background-repeat:no-repeat;
	display:block;
	float: left;
	width:120px;
	height:41px;
}
a.fm_new_del_but, a.fm_new_del_but:link, a.fm_new_del_but:visited, a.fm_new_del_but:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -250px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:122px;
	height:42px;
	margin-right:-1px;
}
a.fm_new_del_but:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -292px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:122px;
	height:42px;
	margin-right:-1px;
}
a.fm_hotlink_button, a.fm_hotlink_button:link, a.fm_hotlink_button:visited, a.fm_hotlink_button:active {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -998px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:122px;
	height:42px;
	margin-right:-1px;
}
a.fm_hotlink_button:hover {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -1040px;
	background-repeat:no-repeat;
	display:block;
	float: right;
	width:122px;
	height:42px;
	margin-right:-1px;
}

.fm_file_details {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:-7px -206px;
	background-repeat:no-repeat;
	height:60px;
	margin-bottom:11px;
}
.fm_file_security {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:-7px -266px;
	background-repeat:no-repeat;
	height:60px;
	margin-top:16px;
	margin-bottom:11px;
}
.fm_email_header_txt {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -336px;
	background-repeat:no-repeat;
	height:63px;
}
.fm_export_header_txt {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -456px;
	background-repeat:no-repeat;
	height:63px;
}
.fm_file_sender_info {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:-7px -386px;
	background-repeat:no-repeat;
	height:60px;
	margin-bottom:11px;
}
.fm_file_export_as {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:-7px -506px;
	background-repeat:no-repeat;
	height:80px;
}
.fm_file_share_file {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -576px;
	background-repeat:no-repeat;
	height:63px;
}
.fm_file_share_sel {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_popup_headers.png);
	background-position:center -636px;
	background-repeat:no-repeat;
	height:63px;
}
a.fm_edit_save, a.fm_edit_save:link, a.fm_edit_save:visited, a.fm_edit_save:active {
	width:180px;
	height:42px;
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -416px;
	background-repeat:no-repeat;
	float:right;
	margin-right:-1px;
}
a.fm_edit_save:hover {
	width:180px;
	height:42px;
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -458px;
	background-repeat:no-repeat;
	float:right;
	margin-right:-1px;
}
a.fm_email_send, a.fm_email_send:link, a.fm_email_send:visited, a.fm_email_send:active {
	width:180px;
	height:42px;
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -582px;
	background-repeat:no-repeat;
	float:right;
	margin-right:-1px;
}
a.fm_email_send:hover {
	width:180px;
	height:42px;
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -624px;
	background-repeat:no-repeat;
	float:right;
	margin-right:-1px;
}
a.fm_email_add, a.fm_email_add:link, a.fm_email_add:visited, a.fm_email_add:active {
	width:139px;
	height:41px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -500px;
	background-repeat:no-repeat;
	display:block;
	margin-top:10px;
	margin-bottom:38px;
}
a.fm_email_add:hover {
	width:139px;
	height:41px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -541px;
	background-repeat:no-repeat;
	display:block;
	margin-top:10px;
	margin-bottom:38px;
}
a.fm_export_butt, a.fm_export_butt:link, a.fm_export_butt:visited, a.fm_export_butt:active {
	width:180px;
	height:42px;
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -666px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
}
a.fm_export_butt:hover {
	width:180px;
	height:42px;
	display:block;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -708px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
}
a.fm_share_copy, a.fm_share_copy:link, a.fm_share_copy:visited, a.fm_share_copy:active {
	width:200px;
	height:42px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -750px;
	background-repeat:no-repeat;
	display:block;
	float:right;
	margin-right:-1px;
}
a.fm_share_copy:hover {
	width:200px;
	height:42px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -792px;
	background-repeat:no-repeat;
	display:block;
	float:right;
	margin-right:-1px;
}
a.fm_filesize, a.fm_filesize:link, a.fm_filesize:visited, a.fm_filesize:active {
	width:119px;
	height:41px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -834px;
	background-repeat:no-repeat;
	display:block;
	float:left;
}
a.fm_filesize:hover {
	width:119px;
	height:41px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -875px;
	background-repeat:no-repeat;
	display:block;
	float:left;
}
a.fm_filename, a.fm_filename:link, a.fm_filename:visited, a.fm_filename:active {
	width:129px;
	height:41px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -916px;
	background-repeat:no-repeat;
	display:block;
	float:left;
	margin-left:10px;
}
a.fm_filename:hover {
	width:129px;
	height:41px;
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/popup_buttons.png);
	background-position:left -957px;
	background-repeat:no-repeat;
	display:block;
	float:left;
	margin-left:10px;
}
.three a.fm_cont_hotlink, .three a.fm_cont_hotlink:link, .three a.fm_cont_hotlink:visited, .three a.fm_cont_hotlink:hover, .three a.fm_cont_hotlink:active, .three a.fm_cont_rename, .three a.fm_cont_rename:link, .three a.fm_cont_rename:visited, .three a.fm_cont_rename:hover, .three a.fm_cont_rename:active {
	display:none
}
.fm_ttm_text {
	background-image:url(/web/20111231211814im_/http://wwwstatic.megaupload.com/muimg/en/fm_text.png); background-position:25px -161px; background-repeat:no-repeat; height:78px;
}

/*
     FILE ARCHIVED ON 21:18:14 Dec 31, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:51:59 Mar 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.187
  exclusion.robots.policy: 0.166
  cdx.remote: 0.149
  esindex: 0.017
  LoadShardBlock: 336.572 (6)
  PetaboxLoader3.datanode: 249.498 (8)
  load_resource: 288.428 (2)
  PetaboxLoader3.resolve: 170.075 (2)
*/