@charset "UTF-8";
/* CSS Document */

.premium_shadow {
	background-image:url(muimg/pr_top_shadow.png);
	background-position:left top;
	background-repeat:repeat-x;
	height:5px;
	font-size:1px;
}
.pr_table_bg_header {
	height:40px;
	background-position:-1677px top;
	background-image:url(muimg/pr_table.png);
	background-repeat:no-repeat;
	padding:0px;
	padding-left:9px;
	padding-right:9px;
}
.pr_table_bg1 {
	background-image:url(muimg/pr_table.png);
	background-position:-838px top;
	background-repeat: repeat-y;
	width:838px;
}
.pr_table_bg1_last {
	background-image:url(muimg/pr_table.png);
	background-position:left bottom;
	background-repeat: repeat-y;
	width:838px;
	height:75px;
}
.pr_table_bl_gray {
	margin-left:9px;
	margin-right:9px;
	height:61px;
	background-image:url(muimg/free_div.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	background-color:#fbfbfb
}
.pr_table_bl_white {
	margin-left:9px;
	margin-right:9px;
	height:61px;
	background-image:url(muimg/free_div.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
}
.pr_table_bg1_last .pr_table_bl_white {
	background-image: none;
}
.pr_table_td1 {
	width:410px;
	height:60px;
	float:left
}
.pr_table_td2 {
	width:140px;
	height:60px;
	float:left;
	background-image:url(muimg/free_div.gif);
	background-position:left top;
	background-repeat: repeat-y;
}
.pr_table_td3 {
	width:140px;
	height:60px;
	float:left;
	background-image:url(muimg/free_div.gif);
	background-position:left top;
	background-repeat: repeat-y;
}
.download_table .pr_table_td1, .download_large_main .pr_table_td1 {
	width:550px;
}
.download_table .pr_table_td2, .download_large_main .pr_table_td2 {
	width:140px;
}
.download_table .pr_table_td3, .download_large_main .pr_table_td3 {
	width:140px;
}
.pr_table_td4 {
	width:130px;
	height:60px;
	float:left;
	background-image:url(muimg/free_div.gif);
	background-position:left top;
	background-repeat: repeat-y;
}
.pr_table_bg_header .pr_table_td1 {
	height:40px;
	float:left
}
.pr_table_bg_header .pr_table_td2 {
	height:40px;
	float:left;
	background-image: url(muimg/pr_table_elements.png);
	background-position:left -26px;
	background-repeat: repeat-y;
}
.pr_table_bg_header .pr_table_td3 {
	height:40px;
	float:left;
	background-image: url(muimg/pr_table_elements.png);
	background-position:left -26px;
}
.pr_table_bg_header .pr_table_td4 {
	height:40px;
	float:left;
	background-image: url(muimg/pr_table_elements.png);
	background-position:left -26px;
}
.pr_td_y {
	background-image: url(muimg/pr_table_elements.png);
	background-position:center -79px;
	background-repeat:no-repeat;
	height:50px;
}
.pr_td_n {
	background-image: url(muimg/pr_table_elements.png);
	background-position:center -152px;
	background-repeat:no-repeat;
	height:50px;
}
.pr_td_premium_glow {
	height:40px;
	background-image:url(muimg/pr_table_elements.png);
	background-position:center 20px;
	background-repeat:no-repeat
}
.pr_table_main_bg {
	height:1120px;
	background-image:url(muimg/pr_table_bg1.png);
	background-position:left top;
	background-repeat: repeat-x;
}
.pr_table_pad {
	padding-top:80px;
	padding-left:68px;
}
.pr_sites_bg {
	background-image:url(muimg/login_bg.png);
	background-position:left bottom;
	background-repeat:repeat-x;
}
.pr_sites_bg .log_sites {
	height:52px;
	padding-left:21px;
	padding-bottom:12px;
}
.pr_top_main_bg {
	background-position:left top;
	background-image:url(muimg/pr_top_bg.jpg);
	background-repeat:no-repeat;
}
.xmas .pr_top_main_bg {
	background-position:left top;
	background-image:url(muimg/pr_top_bg_x.jpg);
	background-repeat:no-repeat;
}
.pr_shadow_bl {
	font-size:1px;
	height:1px;
}
.pr_shadow {
	background-position:-7896px top;
	position:absolute;
}
.pr_shadow2_closed {
	background-position:-9870px top;
	position:absolute;
}
.pr_shadow2_opened {
	background-position:-8883px top;
	position:absolute;
}
.pr_shadow_bl2 {
	margin-top:14px;
}
.pr_main_white {
	background-color:#FFF;
	margin-left:6px;
	margin-right:6px;
}
a.pr_mobile_bl, a.pr_mobile_bl:link, a.pr_mobile_bl:visited, a.pr_mobile_bl:hover, a.pr_mobile_bl:active {
	height:100px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left top;
	background-repeat: repeat-x;
	display: block;
}
.pr_mobile_en_en {
	background-position:left top;
	background-image:url(muimg/mobile_cost_en.png);
	background-repeat:no-repeat;
	height:99px;
}
.pr_membership_bl1 {
	height:240px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -100px;
	background-repeat: repeat-x;
	width:166px;
	float:left
}
.pr_membership_bl2 {
	height:240px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -100px;
	background-repeat:repeat-x;
	width:157px;
	float:left
}
.pr_membership_bl3 {
	height:240px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -100px;
	background-repeat:repeat-x;
	width:157px;
	float:left
}
.pr_membership_bl4 {
	height:240px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -100px;
	background-repeat:repeat-x;
	width:157px;
	float:left
}
.pr_membership_bl5 {
	height:240px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -580px;
	background-repeat:repeat-x;
	width:157px;
	float:left
}
.pr_membership_bl6 {
	height:240px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -580px;
	background-repeat:repeat-x;
	width:165px;
	float:left
}
.pr_mem_div {
	width:3px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -340px;
	background-repeat:repeat-x;
	height:240px;
	float:left;
	font-size:1px;
}
.pr_mem_div_last {
	width:1px;
	background-image:url(muimg/pr_bgs.png);
	background-position:left -340px;
	background-repeat:repeat-x;
	height:240px;
	float:left;
	font-size:1px;
}
.pr_trouble_bl {
	min-height:172px;
}
.pr_trouble_bl2 {
	min-height:122px;
}
.pr_trouble_text1 {
	text-align:center;
	font-size:22px;
	line-height:27px;
	padding-top:32px;
	color:#ff6400;
	font-style:italic;
	font-weight:bold;
}
.pr_trouble_text2 {
	text-align:center;
	font-size:22px;
	line-height:27px;
	padding-top:8px;
	color:#c8c8c8;
	font-style:italic;
	font-weight:bold;
}
.pr_trouble_text3 {
	text-align:center;
	font-size:22px;
	line-height:27px;
	padding-top:8px;
	color:#7E7E7E;
	font-style:italic;
	font-weight:bold;
}
.pr_trouble_bg {
	background-image:url(muimg/pr_limit_bg.png);
	background-position:left bottom;
	background-repeat:repeat-x;
	min-height:444px;
	background-color:#fafafa;
	display:none;
}
.pr_trouble_top_div {
	background-position:left bottom;
	background-repeat:repeat-x;
	background-image:url(muimg/free_div.gif);
	height:8px;
	font-size:1px;
	background-color:#FFF;
}
.pr_trouble_div {
	background-position:left bottom;
	background-repeat:repeat-x;
	background-image:url(muimg/free_div.gif);
	height:1px;
	font-size:1px;
}
.pr_trouble_txt_block {
	padding-top:18px;
	padding-bottom:18px;
}
.pr_trouble_num1 {
	width:24px;
	height:24px;
	background-image:url(muimg/pr_numbers.png);
	background-position:left top;
	background-repeat:no-repeat;
	float:left;
	margin-left:58px;
	margin-right:10px;
}
.pr_trouble_num2 {
	width:24px;
	height:24px;
	background-image:url(muimg/pr_numbers.png);
	background-position:left -29px;
	background-repeat:no-repeat;
	float:left;
	margin-left:58px;
	margin-right:10px;
}
.pr_trouble_num3 {
	width:24px;
	height:24px;
	background-image:url(muimg/pr_numbers.png);
	background-position:left -58px;
	background-repeat:no-repeat;
	float:left;
	margin-left:58px;
	margin-right:10px;
}
.pr_trouble_num4 {
	width:24px;
	height:24px;
	background-image:url(muimg/pr_numbers.png);
	background-position:left -87px;
	background-repeat:no-repeat;
	float:left;
	margin-left:58px;
	margin-right:10px;
}
.pr_trouble_num5 {
	width:24px;
	height:24px;
	background-image:url(muimg/pr_numbers.png);
	background-position:left -116px;
	background-repeat:no-repeat;
	float:left;
	margin-left:58px;
	margin-right:10px;
}
.pr_descr_txt {
	float:left;
	font-size:14px;
	color:#999999;
	width:833px;
	font-weight:bold;
	line-height:17px;
	padding-top:5px;
	padding-bottom:5px;
}
.pr_ip_block {
	padding-left:90px;
	padding-top:13px;
}
.pr_ip_txt {
	float:left;
	font-size:14px;
	color:#999999;
	font-weight:bold;
	line-height:17px;
	padding-left:8px;
	padding-right:21px;
	padding-top:4px;
}
.premium {
	min-height:20px;
}
.pr_buy_hover {
	position:absolute;
	width:378px;
	display:none
}
.pr_hover_head {
	background-image:url(muimg/pr_popup.png);
	background-position:left top;
	background-repeat:no-repeat;
	width:378px;
	height:64px;
}
.pr_hover_mid {
	background-image:url(muimg/pr_popup.png);
	background-position:-756px top;
	background-repeat: repeat-y;
	width:378px;
}
.pr_hover_bl {
	padding-top:7px;
	padding-left:19px;
	padding-right:19px;
}
.pr_hover_bl a, .pr_hover_bl a:link, .pr_hover_bl a:visited, .pr_hover_bl a:hover, .pr_hover_bl a:active {
	display:block;
	min-height:66px;
	background-position:center;
	background-repeat:no-repeat;
}
.pr_hover_div {
	background-image:url(muimg/free_div.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	height:8px;
}
.pr_hover_bott {
	background-image:url(muimg/pr_popup.png);
	background-position:-378px top;
	background-repeat:no-repeat;
	width:378px;
	height:53px;
}
.pr_hover_benefit {
	position:absolute;
	min-height:20px;
	width:418px;
	display:none;
	z-index:1000;
}
.pr_hover_benefit_bg1 {
	background-image:url(muimg/pr_popup.png);
	background-position:-1134px top;
	background-repeat:no-repeat;
	width:418px;
	height:64px;
}
.pr_hover_benefit_bg2 {
	background-image:url(muimg/pr_popup.png);
	background-position:-1970px top;
	background-repeat: repeat-y;
	width:418px;
}
.pr_hover_benefit_bg3 {
	background-image:url(muimg/pr_popup.png);
	background-position:-1552px top;
	background-repeat:no-repeat;
	width:418px;
	height:53px;
}
.download_table .pr_table_main_bg {
	height: 584px;
}
.about_table .pr_table_td1 {
	width:340px;
}
.about_table .pr_table_td2 {
	width:479px;
}
.about_table .pr_table_main_bg {
	height:990px;
}
.download_table .pr_table_pad {
	padding-top: 60px;
}
.pr_membership_bl1 {
	height:280px;
	background-image:url(muimg/pr_bgs_x.png);
	background-position:left top;
	background-repeat: repeat-x;
	width:166px;
	float:left
}