BODY
{
	background-color: #444;
	text-align: center;
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;				
}

DIV#content
{
	width: 570px;
	height: 290px;
	background-color: #ddd;
	background-image: url('bg.jpg');
}

A, A:hover
{
	color: #fff;
	text-decoration: none;
}

DIV#links
{
	padding-top: 20px;
	padding-left: 30px;
	width: 150px;
	float: left;
	text-align: left;
}
			
DIV#movie
{
	float: right;
	width: 320px;
	height: 240px;
	margin: 12px;
	margin-top: 24px;
}

DIV.movie
{
}

DIV.movielink
{
	padding-bottom: 10px;
}